* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background: url('https://unsplash.it/1920/1080/?random&blur') no-repeat center center fixed;
  -ms-background-size: cover;
  background-size: cover;
}

h1 {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.social {
  font-size: 12px;
}

.social a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
