* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #fff;
}



body {
    background: url('https://static.dim.codes/src/img/background.png') no-repeat center center fixed;
    background-size: cover;
}