body, h1, hr {
  margin: 0;
}

body {
  background: #000000;
  color: #ffffff;
	font: 100px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.center {
  border: 15px solid #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: fixed;
  text-align: center;
  background: #000000;
  /* display: none; */
  /* opacity: 0.5; */
}

.center > * {
  padding: 20px;
}

.center > h1 {
  border: 15px solid #fff;
  border-right: none;
  border-left: none;
  padding-top: 0;
  padding-bottom: 0;
}

#tip {
  top: 1px;
  right: 5px;
  color: #000000;
  position: fixed;
  font-size: 12px;
}

.social, .projects {
  font-size: 12px;
}

a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  text-decoration: underline;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

@media (max-width: 600px) {
  canvas, #tip {
    display: none;
  }
  .center {
    border: none;
  }
}